
@using Entity
@model IEnumerable<HomeAbout>
<section class="map map-3" id="map-1">
    <iframe class="map-gray map-gray" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3006.813102887967!2d28.87761161566402!3d41.09493002203643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab034d7a7c9f7%3A0x3ed1680b5d954183!2sFurkan%20Metal!5e0!3m2!1str!2str!4v1656343290086!5m2!1str!2str" width="600" height="450" style="border:0"> </iframe>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="accordion accordion-4" id="accordion01">
                    <h4 class="panel">Adres Bilgilerimiz</h4>
                    <div class="card">
                        <div class="card-heading"><a class="card-link collapsed" data-toggle="collapse" data-parent="#accordion01" href="#collapse01-2">İstanbul Fabrika</a></div>
                        <div class="collapse" id="collapse01-2" data-parent="#accordion01">
                            <div class="card-body">
                                <ul class="list-unstyled info">
                                    <li><span class="fas fa-map-marker-alt"></span><a href="javascript:void(0)">Sultangazi Küçük Sanayi Sitesi 2951 Sok. 1.Blok 7/8 Sultangazi/İSTANBUL</a></li>
                                    <li><span class="fas fa-envelope"></span><a href="mailto:info@quaflux.com"><span class="__cf_email__" data-cfemail="">info@quaflux.com</span></a></li>
                                    <li><span class="fas fa-phone-alt"></span><a href="tel:+90 530 033 14 18">+90 530 033 14 18</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-heading"><a class="card-link collapsed" data-toggle="collapse" data-parent="#accordion01" href="#collapse01-3">Çankırı Fabrika</a></div>
                        <div class="collapse" id="collapse01-3" data-parent="#accordion01">
                            <div class="card-body">
                                <ul class="list-unstyled info">
                                    <li><span class="fas fa-map-marker-alt"></span><a href="javascript:void(0)">Çerkeş Organize Sanayi Bölgesi / Organize Sanayi Sitesi - Çerkeş</a></li>
                                    <li><span class="fas fa-envelope"></span><a href="mailto:info@quaflux.com"><span class="__cf_email__" data-cfemail="">info@quaflux.com</span></a></li>
                                    <li><span class="fas fa-phone-alt"></span><a href="tel:+90 530 033 14 18">+90 530 033 14 18</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
