<section class="process__area pb-100">
         <div class="container">
            <div class="row">
               <div class="col-xl-6">
                  <div class="process__images">
                     <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="image-2 w-img">
                                <img src="~/images/kaplamaresim.jpg" alt="">
                            </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-6">
                  <div class="process__right">
                     <div class="section__wrapper mb-55">
                        <h4 class="section__title">Laminating a product is an easy way to give that product the properties we want.</h4>
                        <div class="r-text">
                           <span>metaliz</span>
                        </div>
                     </div>
                     <div class="proceess__list">
                        <div class="process__list-item mb-30">
                           <div class="process__list-info">
                              <div class="process__list-icon">
                                 <img src="~/assets/img/icon/picon-1.png" alt="">
                              </div>
                              <div class="process__list-content">
                                 <span></span>
                                    <h5><a href="/OurService/Index">DIncreasing tear resistance</a></h5>
                              </div>
                           </div>
                           <div class="process__list-sp-icon">
                                <a href="/OurService/Index"><i class="fa-light fa-arrow-right-long"></i></a>
                           </div>
                        </div>
                        <div class="process__list-item mb-30">
                           <div class="process__list-info">
                              <div class="process__list-icon">
                                    <img src="~/assets/img/icon/picon-2.png" alt="">
                              </div>
                              <div class="process__list-content">
                                 <span></span>
                                    <h5><a href="/OurService/Index">Increasing the mechanical stability of the product</a></h5>
                              </div>
                           </div>
                           <div class="process__list-sp-icon">
                                <a href="/OurService/Index"><i class="fa-light fa-arrow-right-long"></i></a>
                           </div>
                        </div>
                        <div class="process__list-item mb-30">
                           <div class="process__list-info">
                              <div class="process__list-icon">
                                    <img src="~/assets/img/icon/picon-3.png" alt="">
                              </div>
                              <div class="process__list-content">
                                 <span></span>
                                    <h5><a href="/OurService/Index">vacuum evaporation metallizer can cover your most complete parts ballast system..</a></h5>
                              </div>
                           </div>
                           <div class="process__list-sp-icon">
                                <a href="/OurService/Index"><i class="fa-light fa-arrow-right-long"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
