<footer class="footer footer-1">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3 col-xl-4">
                    <div class="footer-logo"><img class="footer-logo" src="~/assets/images/logo/logo-light.png" alt="logo"></div>
                </div>
             
            </div>
        </div>
    </div>

    <a style="z-index:+99999;" href="https://wa.me/+905536894044" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
    <div class="footer-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3 footer-widget widget-about">
                    <div class="footer-widget-title">
                        <h5>Hakkımızda</h5>
                    </div>
                    <div class="widget-content">
                      <div class="module module-social"><a class="share-facebook" href="/Home/Index"><i class="fab fa-facebook-f"> </i></a><a class="share-instagram" href="/Home/Index"><i class="fab fa-instagram"></i></a><a class="share-twitter" href="/Home/Index"><i class="fab fa-twitter"></i></a></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2 offset-lg-2 footer-widget widget-links">
                    <div class="footer-widget-title">
                        <h5>Sayfalar</h5>
                    </div>
                    <div class="widget-content">
                        <ul>
                            <li><a href="/Home/ındex">Home</a></li>
                            <li><a href="/Home/ındex">product</a></li>
                            <li><a href="/Home/ındex">Documents</a></li>
                            <li><a href="/Home/ındex">About</a></li>
                            <li><a href="/Home/ındex">Katolog</a></li>
                            <li><a href="/Home/ındex">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2 footer-widget widget-links">
                    <div class="footer-widget-title">
                        <h5>Sayfalar</h5>
                    </div>
                    <div class="widget-content">
                        <ul>
                            <li><a href="/Home/ındex">Home</a></li>
                            <li><a href="/Home/ındex">product</a></li>
                            <li><a href="/Home/ındex">Documents</a></li>
                            <li><a href="/Home/ındex">About</a></li>
                            <li><a href="/Home/ındex">Katolog</a></li>
                            <li><a href="/Home/ındex">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 footer-widget widget-contact">
                    <div class="footer-widget-title">
                        <h5>İletişim</h5>
                    </div>
                    <div class="widget-content">
                        <p></p>
                        <ul>
                            <li class="phone"><a href="tel:+905300331418"><i class="fas fa-phone-alt"></i> +90 212 668 99 39</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="row">
            <div class="col-md-12 col-md-12 text--center footer-copyright">
                <div class="copyright"><span>&copy; Yazılım ve Tasarım</span><a href="https://ajanscode.com.tr"> Ajanscode</a></div>
            </div>
        </div>
    </div>
</footer>