



<!DOCTYPE html>
<html lang="tr">

@await Html.PartialAsync("_HeaderPartial")


<body>
    @await Html.PartialAsync("_NavbarPartrial")

    <main>
        @RenderBody()

    </main>
    

    @await Html.PartialAsync("_FooterPartial")






 



    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="~/assets/js/vendor.min.js"></script>
    <script src="~/assets/js/functions.js"></script>
    <script src="~/assets/js/bb.js"></script>
    <script src="~/assets/js/aa.js"></script>

<script>

function change_image(image){

                 var container = document.getElementById("main-image");

                container.src = image.src;
            }
    


            document.addEventListener("DOMContentLoaded", function(event) {



            



            });

    document.getElementsByClassName("whatsapp-bar")[0].style.fontSize = "6vw";


</script>
</body>
</html>




