@* <div class="wrapper clearfix" id="wrapperParallax">*@

        <header class="header header-1 header-transparent" id="navbar-spy">
            <nav class="navbar navbar-expand-lg  navbar-bordered navbar-sticky" id="primary-menu">
                <div class="container">
                <a class="navbar-brand" href="/Home/Index"><img class="logo logo-light" src="~/assets/images/logo/logo-light.png" alt="Quaflux "><img class="logo logo-dark" src="~/assets/images/logo/logo-dark.png" alt="Quaflux"></a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                    <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/Home/Index"><span>Anasayfa</span></a></li>
                        <li class="nav-item"><a href="/Product/Demo"><span>Ürünler</span></a></li>
                        <li class="has-dropdown nav-item ">
                            <a href="/Galery/Index" class=" nav__item-link">
                                Belgelerimiz

                            </a>

                        </li>
                        <li class="has-dropdown nav-item ">
                            <a href="/About/Index" class=" nav__item-link">
                                Kurumsal

                            </a>

                        </li>
                        <li class="has-dropdown nav-item ">
                            <a href="/OurService/Index" class=" nav__item-link">
                                Katalog

                            </a>

                        </li>
                        <li class="has-dropdown nav-item ">
                            <a href="/Contact/Index" class=" nav__item-link">
                                İletişim

                            </a>

                        </li>
                        <li hidden="" style="display: none !important; ">


                        </li>
                        <li hidden style="display: none !important; ">
                            
                            
                        </li>
                            
                        </ul>
                        <div class="module-container">

                            <div class="module module-search float-left">
                                <div class="module-icon search-icon"><i class="icon-search"></i><span class="title">search</span></div>
                                <div class="module-content module-fullscreen module-search-box">
                                    <div class="pos-vertical-center">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                                                    <form class="form-search">
                                                        <input class="form-control" type="text" placeholder="type words then enter">
                                                        <button></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div><a class="module-cancel" href="/Home/Index"><i class="fas fa-times"></i></a>
                                </div>
                            </div>
                            <div class="module-contact"><a class="btn btn--primary" href="/Contact/Index">İletişim</a></div>
                            <div class="module module-language">
                                <div class="selected"><span>en </span><i class="fas fa-chevron-down"></i></div>
                                <div class="lang-list">
                                    <ul>
                                        <li> <a href="/EnHome/Index">İngilizce</a></li>
                                        <li> <a href="/Home/Index">Turkce</a></li>

                                  
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
    </header>
