<section class="features bg-gray" id="features-1">
    <div class="container">
        <div class="heading heading-4">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <p class="heading-subtitle">Quaflux'a Hoşgeldiniz.</p>
                    <h2 class="heading-title">Üretimini Üstlendiğimiz Tüm Ürünlerin Gönderim Süreçleri</h2>
                </div>
                <div class="col-12 col-lg-6">
                    <p class="heading-desc">Küresel Lojistik Uzmanlığımız ve Gelişmiş Tedarik Zincirimiz İle Yönetim Stratejilerimizi Geliştirmeye ve Uygulamaya Özen Gösteriyoruz.</p>
                    <div class="actions-container">
                        <a class="btn btn-transparent" href="javascript:void(0)">Kurumsal</a>
                        <div class="employee-info">
                            <div class="employee-img"> <img src="~/assets/images/testimonial/55.jpg" alt="image"></div>
                            <div class="employee-body">
                                <h6>+90 212 668 99 39</h6>
                                <p>Quaflux Drenaj Sistemleri</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class=" col-sm-6 col-md-6 col-lg-4">
                <div class="feature-panel bg-white">
                    <div class=""><img style="height:180px; width:180px; " src="~/assets/images/ürün1/97.jpg" /></div>
                    <div class="feature-content">
                      
                        <h4>Yer Sifonları <br>Grubu</h4>
                        <p>Yer Sifonları ürünlerimizle yanınızdayız ürünlerimiz kısmından inceleyebilirsiniz.</p><a href="/Product/Demo"><i class="icon-arrow-right"></i> Yer Sifonları</a>
                    </div>
                </div>

            </div>
            <div class=" col-sm-6 col-md-6 col-lg-4">
                <div class="feature-panel bg-white">
                    <div class=""><img style="height:180px; width:180px; " src="~/assets/images/ürün1/ÜRÜNLER12.jpg" /></div>
                    <div class="feature-content">
                      
                        <h4>Duş Kanalları <br>Grubu</h4>
                        <p>Duş Kanalları  ürünlerimizle yanınızdayız ürünlerimiz kısmından inceleyebilirsiniz.</p><a href="/Product/Demo"><i class="icon-arrow-right"></i>Duş Kanalları </a>
                    </div>
                </div>

            </div>
            <div class=" col-sm-6 col-md-6 col-lg-4">
                <div class="feature-panel bg-white">
                    <div class=""><img style="height:180px; width:180px; " src="~/assets/images/ürün1/ÜRÜNLER7.jpg" /></div>
                    <div class="feature-content">
                        
                        <h4>Drenaj Kanalları<br>Grubu</h4>
                        <p>Drenaj Kanalları ürünleriyle yanınızdayız ürünlerimiz kısmından inceleyebilirsiniz</p><a href="/Product/Demo"><i class="icon-arrow-right"></i> Drenaj Kanalları</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="more-features">
            <p>Hakkımızda Detaylı Bilgiye Sahip Olmak İçin<a href="/About/Index">Kurumsal </a></p>
        </div>
    </div>

</section>