@using Entity
@model List<Category>

<section class="cta cta-3 bg-theme" id="cta-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="heading heading-2 heading-light">
                    <p class="heading-subtitle">Quaflux Drenaj Sistemleri</p>
                    <h2 class="heading-title">Bizi Daha Yakından Tanıyın</h2>
                </div>
            </div>

            <div class="col-12 col-lg-6 offset-lg-1">
                <div class="prief-set">
                    <p>Quaflux, kurulduğu günden bu yana edindiği tecrübe ve geniş marka bilinci ile yüzlerce çeşit ürüne, detaylara yönelik teknik çözümlere ve yeniliklere imza atmaktadır. Yenilikçi ürünleriyle, kalite ve hijyeni aynı noktada buluşturan Quaflux, renk, desen, model ve boyut çeşitliliği ile farkını ortaya koymakta ve her geçen yıl daha çok yeniliğe imza atarak bu çeşitliliği daha da zenginleştirmektedir.</p>
                    <ul class="advantages-list">
                        <li><i class="fas fa-check-circle"></i> Kalite Kontrol Sistemi</li>
                        <li><i class="fas fa-check-circle"></i> Profesyonel İşçilik</li>
                        <li><i class="fas fa-check-circle"></i> 100% Memnuniyet Garantisi</li>
                        <li><i class="fas fa-check-circle"></i> Ürün Test Süreçleri</li>
                        <li><i class="fas fa-check-circle"></i> Tecrübeli Üretim Ekibi</li>
                        <li><i class="fas fa-check-circle"></i> Tamamen Yerli Üretim</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="action-panels">
            <div class="row no-gutters">
                <div class="col-12 col-lg-6">
                    <div class="action-panel">
                        <div class="action-panel-img">
                            <div class="bg-section"><img src="~/assets/images/cta/worker.jpg" alt="image"></div>
                        </div>
                        <div class="action-panel-content">
                            <div class="panel-icon"><i class="flaticon-015-scale"></i></div>
                            <div class="panel-heading">
                                <h3>Uygun Fiyat, Kaliteli Üretim</h3>
                            </div><a href="javascript:void(0)"><i class="icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="action-panel">
                        <div class="action-panel-img">
                            <div class="bg-section"><img src="~/assets/images/cta/plane1.jpg" alt="Image"></div>
                        </div>
                        <div class="action-panel-content inverted">
                            <div class="panel-icon"><i class="flaticon-017-pallet"></i></div>
                            <div class="panel-heading">
                                <h3>En Kısa Sürede Ürün Temini.</h3>
                            </div><a href="javascript:void(0)"><i class="icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
