@*<section class="testimonial__area grey-bg-5 pt-120 pb-120 fix">
         <div class="testimonial__right-bg">
            <img src="~/assets/img/testimonial/testimonial-bg-1.jpg" alt="">
         </div>
         <div class="container">
            <div class="row">
               <div class="col-xl-6">
                  <div class="section__wrapper mb-45">
                     <h4 class="section__title">Best innovations in the metallurgy today</h4>
                     <div class="r-text">
                        <span>feedback</span>
                     </div>
                  </div>
               </div>
               <div class="col-xl-12">
                  <div class="testimonial__slider swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                     <div class="testimonial__wrapper swiper-wrapper" id="swiper-wrapper-2e21a2f65b4c835b" aria-live="off" style="transform: translate3d(-3055.5px, 0px, 0px); transition-duration: 0ms;"><div class="testimonial__item swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" role="group" aria-label="1 / 12" style="width: 386.5px; margin-right: 50px;">
                           <p class="review__text">“ A user review is a review conducted by any person who has access to the internet and publishes their ux to a review site or social media platform ”</p>
                           <div class="review__info mt-30">
                              <a href="#"><img src="~/assets/img/author/client-1.jpg" alt=""></a>
                              <div class="client__content">
                                 <h5 class="client__name"><a href="#">Alonso Dowson</a></h5>
                                 <div class="client__designation"><p>Head Of Idea , <a href="#">Alonso Co.</a></p></div>
                              </div>
                           </div>
                        </div><div class="testimonial__item swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" role="group" aria-label="2 / 12" style="width: 386.5px; margin-right: 50px;">
                           <p class="review__text">“ A user review is a review conducted
                              by any person who has access to the
                              internet and publishes their ux to a
                              review site or social media platform ”</p>
                           <div class="review__info mt-30">
                              <a href="#"><img src="~/assets/img/author/client-2.jpg" alt=""></a>
                              <div class="client__content">
                                 <h5 class="client__name"><a href="#">Rosalina William</a></h5>
                                 <div class="client__designation"><p>CEO , <a href="#">Rosa Corporation</a></p></div>
                              </div>
                           </div>
                        </div><div class="testimonial__item swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="2" role="group" aria-label="3 / 12" style="width: 386.5px; margin-right: 50px;">
                           <p class="review__text">“ Design quality superlative
                              account on its cloud platform. Think Dikons is the best theme I ever
                              seen this year. Amazing design, easy to
                              customize a ”</p>
                           <div class="review__info mt-30">
                              <a href="#"><img src="~/assets/img/author/client-3.jpg" alt=""></a>
                              <div class="client__content">
                                 <h5 class="client__name"><a href="#">Iqbal Hossain</a></h5>
                                 <div class="client__designation"><p>Founder , <a href="#">Gazi Company</a></p></div>
                              </div>
                           </div>
                        </div><div class="testimonial__item swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="3" role="group" aria-label="4 / 12" style="width: 386.5px; margin-right: 50px;">
                           <p class="review__text">“ Amazing design, easy to
                              customize a design quality superlative
                              account on its cloud platform. Think Dikons is the best theme I ever
                              seen this year. ”</p>
                           <div class="review__info mt-30">
                              <a href="#"><img src="~/assets/img/author/client-4.jpg" alt=""></a>
                              <div class="client__content">
                                 <h5 class="client__name"><a href="#">Josep D. William</a></h5>
                                 <div class="client__designation"><p>Head Of Idea , <a href="#">William Co.</a></p></div>
                              </div>
                           </div>
                        </div>
                        <div class="testimonial__item swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0" role="group" aria-label="5 / 12" style="width: 386.5px; margin-right: 50px;">
                           <p class="review__text">“ A user review is a review conducted by any person who has access to the internet and publishes their ux to a review site or social media platform ”</p>
                           <div class="review__info mt-30">
                              <a href="#"><img src="~/assets/img/author/client-1.jpg" alt=""></a>
                              <div class="client__content">
                                 <h5 class="client__name"><a href="#">Alonso Dowson</a></h5>
                                 <div class="client__designation"><p>Head Of Idea , <a href="#">Alonso Co.</a></p></div>
                              </div>
                           </div>
                        </div>
                        <div class="testimonial__item swiper-slide" data-swiper-slide-index="1" role="group" aria-label="6 / 12" style="width: 386.5px; margin-right: 50px;">
                           <p class="review__text">“ A user review is a review conducted
                              by any person who has access to the
                              internet and publishes their ux to a
                              review site or social media platform ”</p>
                           <div class="review__info mt-30">
                              <a href="#"><img src="~/assets/img/author/client-2.jpg" alt=""></a>
                              <div class="client__content">
                                 <h5 class="client__name"><a href="#">Rosalina William</a></h5>
                                 <div class="client__designation"><p>CEO , <a href="#">Rosa Corporation</a></p></div>
                              </div>
                           </div>
                        </div>
                        <div class="testimonial__item swiper-slide swiper-slide-prev" data-swiper-slide-index="2" role="group" aria-label="7 / 12" style="width: 386.5px; margin-right: 50px;">
                           <p class="review__text">“ Design quality superlative
                              account on its cloud platform. Think Dikons is the best theme I ever
                              seen this year. Amazing design, easy to
                              customize a ”</p>
                           <div class="review__info mt-30">
                              <a href="#"><img src="~/assets/img/author/client-3.jpg" alt=""></a>
                              <div class="client__content">
                                 <h5 class="client__name"><a href="#">Iqbal Hossain</a></h5>
                                 <div class="client__designation"><p>Founder , <a href="#">Gazi Company</a></p></div>
                              </div>
                           </div>
                        </div>
                        <div class="testimonial__item swiper-slide swiper-slide-active" data-swiper-slide-index="3" role="group" aria-label="8 / 12" style="width: 386.5px; margin-right: 50px;">
                           <p class="review__text">“ Amazing design, easy to
                              customize a design quality superlative
                              account on its cloud platform. Think Dikons is the best theme I ever
                              seen this year. ”</p>
                           <div class="review__info mt-30">
                              <a href="#"><img src="~/assets/img/author/client-4.jpg" alt=""></a>
                              <div class="client__content">
                                 <h5 class="client__name"><a href="#">Josep D. William</a></h5>
                                 <div class="client__designation"><p>Head Of Idea , <a href="#">William Co.</a></p></div>
                              </div>
                           </div>
                        </div>
                     <div class="testimonial__item swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0" role="group" aria-label="9 / 12" style="width: 386.5px; margin-right: 50px;">
                           <p class="review__text">“ A user review is a review conducted by any person who has access to the internet and publishes their ux to a review site or social media platform ”</p>
                           <div class="review__info mt-30">
                              <a href="#"><img src="~/assets/img/author/client-1.jpg" alt=""></a>
                              <div class="client__content">
                                 <h5 class="client__name"><a href="#">Alonso Dowson</a></h5>
                                 <div class="client__designation"><p>Head Of Idea , <a href="#">Alonso Co.</a></p></div>
                              </div>
                           </div>
                        </div><div class="testimonial__item swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" role="group" aria-label="10 / 12" style="width: 386.5px; margin-right: 50px;">
                           <p class="review__text">“ A user review is a review conducted
                              by any person who has access to the
                              internet and publishes their ux to a
                              review site or social media platform ”</p>
                           <div class="review__info mt-30">
                              <a href="#"><img src="~/assets/img/author/client-2.jpg" alt=""></a>
                              <div class="client__content">
                                 <h5 class="client__name"><a href="#">Rosalina William</a></h5>
                                 <div class="client__designation"><p>CEO , <a href="#">Rosa Corporation</a></p></div>
                              </div>
                           </div>
                        </div><div class="testimonial__item swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="2" role="group" aria-label="11 / 12" style="width: 386.5px; margin-right: 50px;">
                           <p class="review__text">“ Design quality superlative
                              account on its cloud platform. Think Dikons is the best theme I ever
                              seen this year. Amazing design, easy to
                              customize a ”</p>
                           <div class="review__info mt-30">
                              <a href="#"><img src="assets/img/author/client-3.jpg" alt=""></a>
                              <div class="client__content">
                                 <h5 class="client__name"><a href="#">Iqbal Hossain</a></h5>
                                 <div class="client__designation"><p>Founder , <a href="#">Gazi Company</a></p></div>
                              </div>
                           </div>
                        </div><div class="testimonial__item swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="3" role="group" aria-label="12 / 12" style="width: 386.5px; margin-right: 50px;">
                           <p class="review__text">“ Amazing design, easy to
                              customize a design quality superlative
                              account on its cloud platform. Think Dikons is the best theme I ever
                              seen this year. ”</p>
                           <div class="review__info mt-30">
                              <a href="#"><img src="assets/img/author/client-4.jpg" alt=""></a>
                              <div class="client__content">
                                 <h5 class="client__name"><a href="#">Josep D. William</a></h5>
                                 <div class="client__designation"><p>Head Of Idea , <a href="#">William Co.</a></p></div>
                              </div>
                           </div>
                        </div></div>
                  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
               </div>
            </div>
         </div>
      </section>
*@