@using Entity
@model List<Product>



   <section>
       <div>
        <img src="~/assets/images/quaflux-banner.jpg">

       </div>

    </section>







@*<section class="content d-none d-md-block" style="background-image: url(https://quaflux.ajanscode.com.tr/assets/images/quaflux-banner.jpg); background-size: cover; min-height: 345px;background-position-y: 70%;background-repeat: no-repeat;">
    <div class="container-fluid">
        <div class="row">
            <!-- Col end -->
            <div class="col-lg-6 mt-5 mt-lg-0">&nbsp;</div>
            <!-- Col end -->
        </div>
        <!--/ Content row end -->
    </div>
    <!--/ Container end -->
</section>*@
@*<div href="/Home/Index" class="bg-section"><img src="~/assets/images/quaflux-banner.jpg" alt="Background"></div>
*@
@*<div class="bg-section"><img src="" alt="Background" style=" background-size: cover; min-height: 345px;background-position-y: 70%;background-repeat: no-repeat;"></div>
*@
