
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content d-none d-md-block" style="background-image: url(https://miro.medium.com/max/600/1*jmRFCG7yi5jsiKWY-sCdlA.jpeg); background-size: cover; min-height: 345px;background-position-y: 70%;background-repeat: no-repeat;">
    <div class="container-fluid">
        <div class="row">
            <!-- Col end -->
            <div class="col-lg-6 mt-5 mt-lg-0">&nbsp;</div>
            <!-- Col end -->
        </div>
        <!--/ Content row end -->
    </div>
    <!--/ Container end -->
</section>

