@using Entity
@model IEnumerable<About>
<section class="about pt-70" id="about-1">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="about-img about-img-left">
                    <div class="about-img-warp bg-overlay">
                        <div class="bg-section"><img src="~/assets/images/kurumm.jpg" alt="about Image"></div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="heading heading-3">
                    <p class="heading-subtitle">Welcome to Quaflux Drainage Systems.</p>
                    <h2 class="heading-title">30 Years of Experience in Production, Enjoying Your Part</h2>
                </div>
                <div class="about-block">
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <div class="block-left">
                                <p>Established in 1996 as Çetinler Pazarlama, our company started its activities in the hardware sector with its productions. Upon realizing the need for drainage systems in 2005, this area also started production..</p>
                                <p>Our company, which determined its brand name as Quaflux in 2022, continues to maintain its place in the world market without slowing down..</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="block-right">
                                <div class="detail">
                                    <h6>Quality </h6>
                                    <p>Always further with the understanding of 100% Domestic Production.</p>
                                </div>
                                <div class="detail">
                                    <h6>Quality and Comfort</h6>
                                    <p>We bring quality and comfort together with our products specially designed for you..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="signature-block">
                    <div class="signature-body">
                        <h6>Muharrem Çetin</h6>
                        <p>Kurucu</p>
                    </div><img src="~/assets/images/signature/imza.png" alt="signature">
                </div>
            </div>

        </div>

    </div>

</section>
