<section class="cta cta-3 bg-theme" id="cta-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="heading heading-2 heading-light">
                    <p class="heading-subtitle">Quaflux Drainage Systems</p>
                    <h2 class="heading-title">Get to Know Us Better</h2>
                </div>
            </div>

            <div class="col-12 col-lg-6 offset-lg-1">
                <div class="prief-set">
                    <p>Quaflux, with its experience and wide brand awareness since the day it was founded, has been creating hundreds of products, technical solutions and innovations for details. Bringing quality and hygiene together at the same point with its innovative products, Quaflux reveals its difference with its variety of colors, patterns, models and sizes, and enriches this diversity by making more innovations every year..</p>
                    <ul class="advantages-list">
                        <li><i class="fas fa-check-circle"></i> Quality Control System</li>
                        <li><i class="fas fa-check-circle"></i>Professional Craftsmanship</li>
                        <li><i class="fas fa-check-circle"></i>100% Satisfaction Guaranteed</li>
                        <li><i class="fas fa-check-circle"></i> Product Testing Processes</li>
                        <li><i class="fas fa-check-circle"></i> Experienced Production Team</li>
                        <li><i class="fas fa-check-circle"></i> Completely Domestic Production</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="action-panels">
            <div class="row no-gutters">
                <div class="col-12 col-lg-6">
                    <div class="action-panel">
                        <div class="action-panel-img">
                            <div class="bg-section"><img src="~/assets/images/cta/worker.jpg" alt="image"></div>
                        </div>
                        <div class="action-panel-content">
                            <div class="panel-icon"><i class="flaticon-015-scale"></i></div>
                            <div class="panel-heading">
                                <h3>Reasonable Price, Quality Production</h3>
                            </div><a href="javascript:void(0)"><i class="icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="action-panel">
                        <div class="action-panel-img">
                            <div class="bg-section"><img src="~/assets/images/cta/plane1.jpg" alt="Image"></div>
                        </div>
                        <div class="action-panel-content inverted">
                            <div class="panel-icon"><i class="flaticon-017-pallet"></i></div>
                            <div class="panel-heading">
                                <h3>Product Supply in the Shortest Time.</h3>
                            </div><a href="javascript:void(0)"><i class="icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

