@using Entity
@model List<About>
 

<section class="about pt-70" id="about-1">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="about-img about-img-left">
                    <div class="about-img-warp bg-overlay">
                        <div class="bg-section"><img src="~/assets/images/kurumm.jpg" alt="about Image"></div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="heading heading-3">
                    <p class="heading-subtitle">Quaflux Drenaj Sistemleri' ne Hoşgeldiniz.</p>
                    <h2 class="heading-title">Üretimde 30 Yıllık Tecrübe, Size Düşen Keyfini Sürmek</h2>
                </div>
                <div class="about-block">
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <div class="block-left">
                                <p>1996 yılında Çetinler Pazarlama olarak kurulan firmamız, hırdavat sektöründe yapmış olduğu üretimler ile faaliyetlerine başladı. 2005 yılında drenaj sistemleri ihtiyaçlarının fark edilmesi üzerine, bu alan da üretimlerine başladı.</p>
                                <p>2022 yılında marka adınıç, Quaflux olarak belirleyen firmamız hız kesmeden dünya pazarında ki yerini korumaya devam etmektedir.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="block-right">
                                <div class="detail">
                                    <h6>Kalite </h6>
                                    <p>%100 Yerli Üretim anlayışı ile herzaman daha ileriye.</p>
                                </div>
                                <div class="detail">
                                    <h6>Kalite ve Konfor</h6>
                                    <p>Sizler için özel tasarlanan ürünlerimiz ile kalite ve konforu bir araya getiriyoruz.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="signature-block">
                    <div class="signature-body">
                        <h6>Muharrem Çetin</h6>
                        <p>Kurucu</p>
                    </div><img src="~/assets/images/signature/imza.png" alt="signature">
                </div>
            </div>

        </div>

    </div>

</section>
