@using Entity
@model List<About>



@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title page-title-4 bg-overlay bg-overlay-dark bg-parallax" id="page-title">
    <div href="/Home/Index" class="bg-section"><img src="~/assets/images/page-titles/10.jpg" alt="Background"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="title text-lg-left">
                    <div class="title-sub-heading">
                    </div>
                    <div class="title-heading">
                    </div>
                    <div class="clearfix"><h1 style="color:#fff"> Hakkımızda</h1></div>
                    <ol class="breadcrumb justify-content-lg-start">
                        <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
                        <li class="breadcrumb-item"><a href="">Hakkımızda</a></li>
                        <li class="breadcrumb-item active" aria-current="page"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-title page-title-4 bg-overlay bg-overlay-dark bg-parallax bg-section" id="page-title" style="background-image: url(&quot;/assets/images/page-titles/10.jpg&quot;);">
   

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="title text-lg-left">
                    <div class="title-sub-heading">
                        <p></p>
                    </div>
                    <div class="title-heading">
                        <h1>Kurumsal</h1>
                    </div>
                    <div class="clearfix"></div>
                    <ol class="breadcrumb justify-content-lg-start">
                        <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>

                        <li class="breadcrumb-item active" aria-current="page">Kurumsal</li>
                    </ol>
                </div>

            </div>

        </div>

    </div>

</section>

<section class="about pt-70" id="about-1">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="about-img about-img-left">
                    <div class="about-img-warp bg-overlay bg-section" style="background-image: url();">
                        <img src="~/assets/images/kurumm.jpg" />
                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="heading heading-3">
                    <p class="heading-subtitle">Quaflux Drenaj Sistemleri' ne Hoşgeldiniz.</p>
                    <h2 class="heading-title">Üretimde 30 Yıllık Tecrübe, Size Düşen Keyfini Sürmek</h2>
                </div>
                <div class="about-block">
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <div class="block-left">
                                <p>1996 yılında Çetinler Pazarlama olarak kurulan firmamız, hırdavat sektöründe yapmış olduğu üretimler ile faaliyetlerine başladı. 2005 yılında drenaj sistemleri ihtiyaçlarının fark edilmesi üzerine, bu alan da üretimlerine başladı.</p>
                                <p>2022 yılında marka adını, Quaflux olarak belirleyen firmamız hız kesmeden dünya pazarında ki yerini korumaya devam etmektedir.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="block-right">
                                <div class="detail">
                                    <h6>Kalite </h6>
                                    <p>%100 Yerli Üretim anlayışı ile herzaman daha ileriye.</p>
                                </div>
                                <div class="detail">
                                    <h6>Kalite ve Konfor</h6>
                                    <p>Sizler için özel tasarlanan ürünlerimiz ile kalite ve konforu bir araya getiriyoruz.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="signature-block">
                    <div class="signature-body">
                        <h6>Muharrem Çetin</h6>
                        <p>Kurucu</p>
                    </div><img src="/assets/images/signature/imza.png" alt="signature">
                </div>
            </div>

        </div>

    </div>

</section>

