@model IEnumerable<Entity.Contact>









@*<div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6">
    <div class="footer__widget mb-40">
        <h5 style="font-size: 18px;
    color: var(--tp-common-white);
    margin-bottom: 40px;" id="sem" class="footer__widget-title">
            İletişim Bilgileri
        </h5>
        <div class="footer__widget-content">
            <div class="footer__links">

                @foreach (var item in Model)
                {
                    <ul>
                        <li>
                            <i id="man" class="fa-regular fa-phone"></i><a href="/OurService/Index">@item.CompanyPhone</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <i  id="sel" class="fa-regular fa-envelope"></i><a hresf="/OurService/Index">@item.ComponayMail</a>
                        </li>
                    </ul>
                     <ul>
                        <li>
                            <i  id="aa" class="fa-solid fa-location-arrow"></i><a hresf="/OurService/Index">@item.CompanyAdress</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>
<style>
    #sel {
        font-size: 22px;
    }

    #man {
        font-size: 22px;
    }

    #aa{
        font-size:22px;
    }
        .col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
</style>*@